#playpause::-moz-focus-inner{
    border:0;} //pour éviter d'avoir les pointillés sur ton bouton au moment du click
             
        #playpause span 
        {
            position: relative;
            left: 30px;
            top: 0px;
        }
        
        #playpause
        {
            width: 150px;
            height: 150px;
            border: #000 1px solid;
            
        }
        .noplaying 
        {
             
            background: #FFF url(image/play.png) no-repeat;
        }
     
        .playing 
        {
            background: #FFF url(image/pause.png) no-repeat;
        }
    
